@model projet_de_fin_de_formation_ahz.Models.User_Account

@{
    ViewBag.Title = "Log In";
}

<h2 style="color:white;">Log In</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group" style="color:white;">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="color:white;">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:white;">
            @Html.LabelFor(model => model.Password_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password_, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group" style="color:white;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="login" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group" style="color:white;">
            <div class="col-md-offset-2 col-md-10">
                <label>@ViewBag.Notification</label>
            </div>
        </div>
    </div>
    }

    <div style="color:white">
        @Html.ActionLink("Back to List", "Index")
    </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
